

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Movies App</title>
  </head>
  <body>
    <% if (user) { %>
      <h1>Welcome to the Movies app, <%= user.username %>!</h1>
      <p>An app for collecting your favorite movies.</p>
      <a href="/movies">Browse Movies</a>
      <a href="/movies/new">Add New Movie</a>
      <a href="/auth/sign-out">Sign out</a>
    <% } else { %>
      <h1>Welcome to the Movies app, guest.</h1>
      <p>
        <a href="/auth/sign-up">Sign up</a> or <a href="/auth/sign-in">Sign in</a>.
      </p>
    <% } %>
  </body>
</html>
