

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Movies Index</title>
  </head>
 <body>
  <h1>All Movies</h1>
  <ul>
    <% movies.forEach(movie => { %>
      <li>
        <a href="/movies/<%= movie._id %>"> <%= movie.name %> </a>
        - <%=
          movie.rating === 6 ? 'рҹӨ©All Time FavрҹҸҶ' :
          movie.rating === 5 ? 'рҹҳҚAmazingрҹ”Ҙ' :
          movie.rating === 4 ? 'рҹҳ„GreatвӯҗпёҸ' :
          movie.rating === 3 ? 'рҹҳҗSolidрҹ‘Қ' :
          movie.rating === 2 ? 'рҹҳ•Not Greatвҡ пёҸ' :
          movie.rating === 1 ? 'рҹӨўHorribleрҹ—‘пёҸ' : ''
        %>
      </li>
    <% }); %>
  </ul>
  <a href="/movies/new">Add New Movie</a>
  </body>
</html>
