

<body>
  <h1>Review a Movie!</h1>
  <form action="/movies" method="POST">
    <label for="name">Name:</label>
    <input type="text" name="name" id="name" />

   <div>
    <label for="rating">select score:</label>
    <select id="rating" name="rating">
      <option value="6">рҹӨ©All Time FavрҹҸҶ</option>
      <option value="5">рҹҳҚAmazingрҹ”Ҙ</option>
      <option value="4">рҹҳ„GreatвӯҗпёҸ</option>
      <option value="3">рҹҳҗSolidрҹ‘Қ</option>
      <option value="2">рҹҳ•Not Greatвҡ пёҸ</option>
      <option value="1">рҹӨўHorribleрҹ—‘пёҸ</option>
    </select>
  </div>
  <textarea id="reviewtext" name="review"></textarea>
    <button type="submit">Add Movie</button>
  </form>
  <a href="/movies/">Back to Movies</a>
</body>
